@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
    font-family: 'SUSE', Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 14px; 
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffcc00;
    padding: 8px 15px; 
    border-bottom: 3px solid #003366; 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2; 
}

.logo img {
    width: 70px; 
    border-radius: 5px; 
    margin-left: 40px;
}

.welcome-text {
    color: #003366;
    font-size: 16px; 
    font-weight: bold;
    text-align: center; 
    flex-grow: 1;
}

.logout {
    background-color: #003366;
    color: #ffcc00;
    padding: 10px 18px; 
    text-decoration: none;
    border-radius: 4px; 
    font-weight: bold;
    font-size: 18px; 
}

.logout:hover {
    background-color: #ffcc00; 
    color: #003366;
}

#container {
    padding: 15px;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(243, 255, 114, 0.829);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); 
    width: 80%;
    max-width: 500px; 
    height: 70%; 
    max-height: 500px; 
    overflow-y: auto; 
    z-index: 2; 
}

h1 {
    font-size: 20px; 
    margin-bottom: 15px;
    color: #003366;
    text-align: center;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin-bottom: 15px; 
}

input[type="text"] {
    padding: 8px; 
    font-size: 14px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    flex: 1;
    max-width: 250px; 
}

button {
    display: block;
    width: 100px; 
    padding: 8px; 
    margin: 8px 0; 
    font-size: 14px; 
    border: none;
    border-radius: 4px; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    background: rgba(255, 255, 255, 0.686);
}

button:hover {
    background-color: #003366; 
    color: #ffcc00;
}

button:active {
    background-color: #002244;
    color: #ffcc00; 
}

.deposit-container,
.account-info,
.transaction-history,
.notes {
    margin-top: 15px;
    background: rgba(255, 255, 255, 0.8); 
    padding: 10px; 
    border-radius: 6px; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    gap: 10px;
}

.recent-contacts,
.transaction-history {
    margin-top: 15px; 
    background: rgba(255, 255, 255, 0.8); 
    padding: 10px; 
    border-radius: 6px; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

.recent-contacts ul,
.transaction-history ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.recent-contacts li,
.transaction-history li {
    margin-bottom: 8px; 
    text-align: center; 
}

.recent-contacts a,
.transaction-history a {
    text-decoration: none;
    color: #003366;
    font-size: 14px;
}

.recent-contacts a:hover,
.transaction-history a:hover {
    color: #ffcc00;
}

.account-info,
.transaction-history,
.notes {
    text-align: center;
}

.notes p {
    text-align: justify;
    margin-left: 60px;
}

footer {
    background-color: #ffcc00;
    color: #003366;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    height: 56px;
    font-size: medium;
}