@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

body {
    font-family: 'SUSE', Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

.header-container {
    background-color: #ffcc00;
    color: #003366;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container .logo {
    height: 60px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right .agency {
    margin-right: 20px;
}

.header-right .logout {
    background-color: #003366;
    color: #ffcc00;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
}

.logout:hover {
    background-color: #ffcc00; 
    color: #003366;
}

nav {
    background-color: #003366;
    padding: 5px 10px;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    flex: 1;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-weight: bold;
    text-align: center;
}

nav ul li a:hover {
    background-color: #ffcc00;
    color: #003366;
}

.container {
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    color: #003366;
}

.period-select {
    margin-bottom: 20px;
}

.balance-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.balance-item {
    text-align: center;
}

.balance-item strong {
    display: block;
    font-size: 18px;
    color: #003366;
}

.balance-item .debit {
    color: red;
}

.transaction-list table {
    width: 100%;
    border-collapse: collapse;
}

.transaction-list table th,
.transaction-list table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.transaction-list table th {
    background-color: #f4f4f4;
}

footer {
    background-color: #ffcc00;
    color: #003366;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    height: 40px;
    font-size: medium;
}